<div style="padding-top: 100px;">
  <div class="container-fluid">
    <div class="row mt-5">
      {% for article in blog.articles %}
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
        <div>
          <img class="w-100" src="{{ article.image | img_url: 'large' }}" alt="article">
          <div class="mt-3">

            {% for tag in article.tags %}
            <p class="text-muted">{{ tag }}</p>
            {% endfor %}

            <h4><a class="text-dark" href="{{ article.url }}">{{ article.title }}</a></h2>
              <p class="mt-3">{{ article.excerpt }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- <p>{{ article.content | strip_html | truncatewords: 100 }}</p> -->