{% paginate collections['all'].products by 36 %}
<div class="position-relative" style="margin-top: 100px;">
  <section class="product">
    <div class="container-fluid">
      <div class="row justify-content-center">
        {% for product in collections['all'].products %}
        <div class="col-12 col-sm-6 col-md-3 mb-5">
          <a class="text-decoration-none text-dark h-100 d-flex flex-column justify-content-end"
            href="{{ product.url | within: collection }}">
            <div class="product__card mx-auto">
              <div class="product__image">
                <img class="w-100 h-100" src="{{ product.featured_image.src | img_url: 'large' }}"
                  alt="{{ product.featured_image.alt | escape }}">
              </div>
              <span class="product__name">{{ product.title }}</span>
              <div class="product__footer d-flex justify-content-between">
                <span>{{ product.vendor }}</span>
                {% if product.available and product.price > 0 %}
                <span>{{ product.price | money }}</span>
                {% else %}
                <span>Inquire for price</span>
                {% endif %}
              </div>
            </div>
          </a>
        </div>
        {% else %}
        <p>0 Product found</p>
        {% endfor %}

      </div>
    </div>

    <div class="search-pagination">
      {% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
    </div>
  </section>
</div>
{% endpaginate %}